.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
  }
  
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}
.input-block{
    border: 0.1rem solid #bbbbbb;
    border-radius: 10px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 1rem;
    max-width: 98%;
    margin-left: 5%;
    margin-right: 5%;
  }

  input {
    width:100%;
   }
   select{
    height:2.5rem;
    width:100%;
   }
.row {
    margin: 1.1rem;
}

.btnDel {
  display: flex;
  background: none;
  align-items: center;
  border: 1px solid rgb(211, 211, 211);
  /* letter-spacing: .25px; */
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 24px 0 16px;
  /* color: #ff0000; */
  font-size: 16px;
  color: red;
}
.btnDel:hover {
  background-color: rgba(255, 0, 0, 0.185);
}

.iconDel {
  font-size: 10px;
  color: red;
}
.divbtnDel {
  display: flex;
  align-items: center;
  padding-top: 22px;
}