table {
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #eae9e9;
  }