<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Management App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
</head>
<body>
    {% if session.get('user_id') %}
    <nav class="vertical-navbar">
        <ul class="navbar-menu">
            <h2>TEST</h2>
            <p class="welcome-user">Welcome, {{ session.get('username', 'User') }}</p>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('project1') }}">Project1</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        </ul>
    </nav>

    {% endif %}
    <main>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash {{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
    </main>

</body>
</html>
