{% extends "base.html" %}
{% block content %}
    <script src="{{url_for('static', filename='js/edit.js')}}"></script>

    <h1>Edit User</h1>
    <form method="POST">
        <label>Name: <input type="text" name="name" value="{{ user.name }}" required></label><br>
        <label>Email: <input type="email" name="email" value="{{ user.email }}" required></label><br>
        <label>Age: <input type="number" name="age" value="{{ user.age }}" required></label><br>
        <label for="status">Status: </label>
        <select name="status">
            <option value="C" {% if user.status == 'C' %}selected{% endif %}>C</option>
            <option value="WD" {% if user.status == 'WD' %}selected{% endif %}>WD</option>
            <option value="SF" {% if user.status == 'SF' %}selected{% endif %}>SF</option>
            <option value="Finish" {% if user.status == 'Finish' %}selected{% endif %}>Finish</option>
            <option value="LostFU" {% if user.status == 'LostFU' %}selected{% endif %}>Lost F/U</option>
            <option value="Transfer" {% if user.status == 'Transfer' %}selected{% endif %}>Transfer</option>
        </select><br>
        {% if 'visit_data' in user %}
        {%for visit in user['visit_data']%}
        <label>Visit: <input type="text" name="visit" value="{{ visit.visit }}" required></label>
        <label>Visit Date: <input type="date" name="visitdate" value="{{ visit.visit_date.strftime('%Y-%m-%d') }}" required></label>
        <label>Next Visit: <input type="date" name="nextvisit" value="{{ visit.next_visit.strftime('%Y-%m-%d') }}" required></label><br> 
        {%endfor%} 
        {% endif %}
        <div id="inputFields"></div>
        <input type="submit" value="Update User">
        <button type="button" onclick="addNewfield()">Add More</button><br><br>
        
    </form>
    
    <a href="{{ url_for(last_page) }}">Back to List</a>

{% endblock %}