<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User Management App</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/login.css')}}">
</head>
<body>
    <div style="margin: 0.5rem;">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash {{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    </div>
  <div class="container">
    <div class="login form">
      <header>Login</header>
      <form method="POST">
        <label>Username: <input type="text" name="username" placeholder="Enter your user"required></label><br>
        <label>Password: <input type="password" name="password" placeholder="Enter your password" required></label><br>
        <input type="submit" class="button" value="Login">
    </form>
      </div>
    </div>
  </div>
</body>
</html>
